* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.imagebox {
    height:100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.infobox {
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid black;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.5ex;
}

.infobox-img {
    float:right;
}

.infobox-video {
    position: absolute;
    right: 0px;
    top: 0px;
}

.starRatings {
    font-size: 35px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
